/*body {
  overflow-x: hidden;
}*/


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -30rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: #fff;
}
.sidebar-heading {
    min-height: 52px !important;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: text-bottom;
  background-color: #009AD9;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  background-color: black;
}

#page-content-wrapper {
  min-width: 100vw;
}
#page-content-wrapper .navbar {
    min-height: 52px !important;
}

#page-content-wrapper .pageTitle  {
    font-size: 1.3rem;
    /*font-style: italic;*/
    text-shadow: 1px 0px 0 #151414;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 0px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -16rem;
  }
}

@media (min-width: 576px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15.5rem;
  }
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

#sidebar-wrapper .list-group-item {
    padding: .75rem 1em;
}
#sidebar-wrapper .menu-item {
    margin-bottom: 5px;
    border:none;
    box-shadow: 2px 4px 4px rgba(0,0,0,.31);
}
#sidebar-wrapper .card-header {
    background-color: #009AD9;
    padding: 8px 5px 0px 10px;
}
#sidebar-wrapper .card-header:hover {
    background-color: #2c93d0 !important;
}
#sidebar-wrapper .card-body {
    padding: 0.5rem;
}
#sidebar-wrapper .menu-icon  {
    color: #ff9a4e;
}
#sidebar-wrapper .menu-text  {
    text-shadow: 1px 1px 0 #444;
    color: white;
}

#sidebar-wrapper .menu-subitem-icon  {
   
}
#sidebar-wrapper .menu-subitem-text  {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#sidebar-wrapper .menu-subitem-text:hover  {
    color: #2c93d0;
    font-size: 12.5px;
}

#sidebar-wrapper ul {
    list-style: none;
    padding: 5px 0px 5px 10px;
    margin: 0;
}

#sidebar-wrapper li {
    position: relative;
    height: 37px;
}

#sidebar-wrapper li:hover ul
{
    display:block;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px
}

#sidebar-wrapper li ul {
    display:none;
    position:absolute;
    bottom:0;
    left:80px;
    width: 200px;
}

#sidebar-wrapper li ul li {
    background-color: white;
}